<template name='header'>
  <!-- Following Menu -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      <a class="active item" href='{{pathFor "home"}}'>Home</a>
      <a class="item">Work</a>
      <a class="item">Company</a>
      <a class="item">Careers</a>
      <div class="right menu">
        {{#if currentUser}}
          <div class="item">
            <a class="ui button logout" href='{{pathFor "atSignIn"}}'>Log Out</a>
          </div>
        {{else}}
          <div class="item">
            <a class="ui button" href='{{pathFor "atSignIn"}}'>Log In</a>
          </div>
          <div class="item">
            <a class="ui primary button" href='{{pathFor "atSignUp"}}'>Sign Up</a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    <a class="active item" href='{{pathFor "home"}}'>Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <a class="item" href='{{pathFor "atSignIn"}}'>Log In</a>
    <a class="item" href='{{pathFor "atSignUp"}}'>Sign Up</a>
  </div>
</template>
