<template name='header'>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{pathFor 'home'}}" class="brand-logo">Liftoff</a>
      <ul class="right hide-on-med-and-down">
        <li class='{{isActiveRoute "home"}}'><a href='{{pathFor "home"}}'>Home</a></li>
        {{#if currentUser}}
          <li class='{{isActiveRoute "about"}}'><a href='{{pathFor "about"}}'>About</a></li>
          <li class='logout'><a href='{{pathFor "atSignIn"}}'>Logout</a></li>
        {{else}}
          <li class='{{isActiveRoute "/sign-in"}}'><a href='{{pathFor "/sign-in"}}'>Sign In</a></li>
        {{/if}}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class='{{isActiveRoute "home"}} nav-mobile-link'><a href='{{pathFor "home"}}'>Home</a></li>
        {{#if currentUser}}
          <li class='{{isActiveRoute "about"}} nav-mobile-link'><a href='{{pathFor "about"}}'>About</a></li>
          <li class='logout'><a href='{{pathFor "atSignIn"}} nav-mobile-link'>Logout</a></li>
        {{else}}
          <li class='{{isActiveRoute "signIn"}} nav-mobile-link'><a href='{{pathFor "signIn"}}'>Sign In</a></li>
        {{/if}}
      </ul>
      <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</template>
