<template name='menuMain'>
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class='{{isActiveRoute "home"}} item' href='{{pathFor "home"}}'>Home</a>
      <a class='{{isActiveRoute "autoform"}} item' href='{{pathFor "autoform"}}'>AutoForm Example</a>
      <a class='{{isActiveRoute "company"}} item'>Company</a>
      <a class='{{isActiveRoute "careers"}} item'>Careers</a>
      <div class="right item">
        {{#if currentUser}}
          <a class="ui inverted button logout">Log Out</a>
        {{else}}
          <a class='{{isActiveRoute "atSignIn"}} ui inverted button' href='{{pathFor "atSignIn"}}'>Log in</a>
          <a class='{{isActiveRoute "atSignUp"}} ui inverted button' href='{{pathFor "atSignUp"}}'>Sign Up</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>
