<template name='home'>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Liftoff</h1>
      <div class="row center">
        <h5 class="header col s12 light">Get your Meteor projects off the ground</h5>
      </div>
      <div class="row center">
        <a href="https://github.com/jfols/liftoff" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">Get going faster</h5>
            <p class="light">Launch your Meteor project in minutes. Choosing high quality packages and a solid project structure is key to building successful Meteor apps and we've picked some of the best to get you started.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">grade</i></h2>
            <h5 class="center">Fantastic Packages</h5>
            <ul>
              <li><a href='https://atmospherejs.com/meteor/coffeescript'>coffeescript</a></li>
              <li><a href='https://atmospherejs.com/materialize/materialize'>materialize:materialize</a></li>
              <li><a href='https://atmospherejs.com/kadira/flow-router'>kadira:flow-router</a></li>
              <li><a href='https://atmospherejs.com/kadira/blaze-layout'>kadira:blaze-layout</a></li>
              <li><a href='https://atmospherejs.com/useraccounts/materialize'>useraccounts:materilize</a></li>
              <li><a href='https://atmospherejs.com/velocity/html-reporter'>velocity:html-reporter</a></li>
              <li><a href='https://atmospherejs.com/velocity/console-reporter'>velocity:console-reporter</a></li>
              <li><a href='https://atmospherejs.com/sanjo/jasmine'>sanjo:jasmine</a></li>
              <li><a href='https://atmospherejs.com/zimme/active-route'>zimme:active-route</a></li>
              <li><a href='https://atmospherejs.com/arillo/flow-router-helpers'>arillo:flow-router-helpers</a></li>
            </ul>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">done</i></h2>
            <h5 class="center">Patterns that work</h5>
            <p class="light">We've included example code for the most common patterns to help get you started.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

  </div>

</template>
