<template name='home'>

    <div class="ui vertical stripe-bottom segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">Get your Meteor project off the ground</h3>
            <p>Liftoff is an opinionated boilerplate you can use to <a href='https://meteor.com' target='_blank'>Meteor</a> project off the ground super fast. Liftoff is open source under the MIT license.</p>
            <h3 class="ui header">Opinions included (package list)</h3>
            <p>Liftoff consists of blaze, semantic:ui, useraccounts:semantic-ui, kadira:flow-router, kadira:blaze-layout, zimme:active-route, arillo:flow-router-helpers, aldeed:autoform, aldeed:simple-schema, aldeed:collection2, and okgrow:router-autoscroll.</p>
          </div>
          <div class="six wide right floated column">
            <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <a class="ui huge button" href='https://github.com/jfols/liftoff'>Get Started <i class="right arrow icon"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>"It's not an architecture, it's a cheat code"</h3>
            <p>Our intent is to give you a lauch point with some boilerplate things working. You can learn by example and get your project moving immediately with some good default choices.</p>
          </div>
          <div class="column">
            <h3>"Countless hours wasted...I should have used Liftoff!"</h3>
            <p>
              <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Some Programmer</b> CTO Some Company
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h3 class="ui header">Examples Included</h3>
        <p>Liftoff's goal is to provide you with a set of core examples of the key concepts of building a Meteor app. Currently we have an examples of simple-schema, an insert autoform, pub/sub, and allow/deny.</p>
        <a class="ui large button" href='https://github.com/jfols/liftoff'>Get Started <i class="right arrow icon"></i></a>
        <h4 class="ui horizontal header divider">
          <a href='https://github.com/jfols/liftoff'>Get Started <i class="right arrow icon"></i></a>
        </h4>
        <h3 class="ui header">More Coming Soon!</h3>
        <p>Have something to add? Open an issue or make a pull request! We're interested in adding examples from a wide variety of common use cases in Meteor apps.</p>
        <a class="ui large button" href='https://github.com/jfols/liftoff'>Get Started <i class="right arrow icon"></i></a>
      </div>
    </div>

</template>
